 /*MAIN CSS FOR HOMEPAGE*/


/*BASE HEADER FOOTER STYLES*/

body{
  min-width: 480px;
  color: black;
  font-size: 18px;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p{
  display: flex;
  justify-content: center;
  align-items: center;
}